body{
    background-image: url("https://i.pinimg.com/736x/af/d3/cf/afd3cfd14bbe4bad45bb64325e9c0fea.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a:link {
    color: lightblue;
    text-decoration: none;
  }
  
  a:visited {
    color: lightblue;
    text-decoration: none;
  }
  
  a:hover {
    color: lightblue;
    text-decoration: none;
  }
  
  a:active {
    color: lightblue;
    text-decoration: none;
  }